<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastre-se!</h1>

    <form action="/cadastro" method="post">

        <input type="email" name="email" placeholder="Digite seu e-mail" required> 
        <br><br>

        <input type="text" name="nome" placeholder="Crie um nome de usuário" required> 
        <br><br>

        <input type="password" name="senha" placeholder="Crie sua senha" required> 
        <br><br>

        <p>Já possui uma conta? <a href="">Clique aqui</a></p>
        <button type="submit">Cadastrar</button>
    </form>

</body>
</html>